
#title-gamer {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#canvas-jogo {
  border: 1px solid black;
}

#canvas-placar {
  display: none;
}

#pontuacao {
  position: fixed;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, 50%);
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border: 2px solid #333;
  font-size: 20px;
  text-align: center;
}


#game {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.waiting-for-player {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  position: fixed;
  left: 40%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.paddle {
  position: absolute;
  width: 10px;
  height: 60px;
  background-color: black;
}

#player-paddle {
  left: 20px;
  background-color: red;
}

#opponent-paddle {
  right: 20px;
  background-color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 350px) {
  #canvas-jogo {
    width: 150px;
    height: 75px;
  }
}

@media (min-width: 351px) and (max-width: 480px) {
  #canvas-jogo {
    width: 350px;
    height: 175px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #canvas-jogo {
    width: 480px;
    height: 240px;
  }
}

@media (min-width: 769px) {
  #canvas-jogo {
    width: 769px;
    height: 384px;
  }
}
